<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>Create a Post</h1>
    <form action="/posts/<%=@post.id%>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <p>Title: <input type="text" name="post[name]" value="<%=@post.name%>"></p>
      <p>Author Name: <input type="text" name="post[author_name]" value="<%=@post.author_name%>"></p>
      <p>Body:
      <textarea name="post[content]"><%=@post.content%></textarea>
      </p>
      <input type="submit" name="submit" id="submit"/>
    </form>
  </body>
</html>
